[submodule "third_party/doctest"]
	path = third_party/doctest
	url = https://github.com/doctest/doctest.git
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/dynarmic"]
	path = third_party/dynarmic
	url = https://git.eden-emu.dev/eden-emu/dynarmic.git
[submodule "third_party/ext-boost"]
	path = third_party/ext-boost
	url = https://github.com/azahar-emu/ext-boost.git
[submodule "third_party/boost-pool"]
	path = third_party/boost-pool
	url = https://github.com/boostorg/pool.git
[submodule "third_party/angle-prebuilt"]
	path = third_party/angle-prebuilt
	url = https://github.com/poping520/OGPlay-angle-prebuilt.git
	shallow = true
[submodule "third_party/yyjson"]
	path = third_party/yyjson
	url = https://github.com/ibireme/yyjson.git
